<nav>
  <div class="nav-container">
    <a id="wordmark" href="/Pages/homePage/home.html">Hobbyssey</a>

    <button class="nav-toggle" type="button" aria-expanded="false" aria-controls="navMenu" aria-label="Menu">
      <span></span><span></span><span></span>
    </button>

    <ul id="navMenu">
      <li><a href="/Pages/homePage/home.html">Home</a></li>
      <li class="dropdown">
        <a href="#">Hobbies</a>
        <ul class="ddcontent">
          <li><a href="/Pages/Hobbies/Gaming/hobbyGaming.html">Gaming</a></li>
          <li><a href="/Pages/Hobbies/Travelling/hobbyTravelling.html">Travelling</a></li>
          <li><a href="/Pages/Hobbies/Guitar/hobbyGuitar.html">Guitar</a></li>
          <li><a href="/Pages/Hobbies/Baking/hobbyBaking.html">Baking</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Sign Up</a>
        <ul class="ddcontent">
          <li><a href="/Pages/Forms/GamingForm/GameForm.html">Gaming Form</a></li>
          <li><a href="/Pages/Forms/TravellingForm/TravelForm.html">Travelling Form</a></li>
          <li><a href="/Pages/Forms/GuitarForm/GuitarForm.html">Guitar Form</a></li>
          <li><a href="/Pages/Forms/BakingForm/BakeForm.html">Baking Form</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> 