<nav>
        <div class="nav-container">
            <a id="main" href="/homePage/navbar/navbar.css">Hobbyssey</a>
            <ul>
                <li><a href="/homePage/navbar/navbar.html">Home</a></li>
                <li class="dropdown">
                    <a href="#">Hobbies</a>
                    <ul class="ddcontent">
                        <li><a href="/Hobbies/Gaming/hobbyGaming.html">Gaming</a></li>
                        <li><a href="/Hobbies/Travelling/hobbyTravelling.html">Travelling</a></li>
                        <li><a href="/Hobbies/Guitar/hobbyGuitar.html">Guitar</a></li>
                        <li><a href="/Hobbies/Baking/hobbyBaking.html">Baking</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Forms</a>
                    <ul class="ddcontent">
                        <li><a href="/Gaming/formGaming.html">Form Gaming</a></li>
                        <li><a href="/Travelling/formTravelling.html">Form Travelling</a></li>
                        <li><a href="/Guitar/formGuitar.html">Form Guitar</a></li>
                        <li><a href="/Baking/formBaking.html">Form Baking</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>