body {
    background-color: #496681;

}

nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #13213a7c;
    border-radius: 10px;
    border: goldenrod 3px solid;
    border-bottom: 3px solid #cc9c1a;
    padding: 0 20px;
}

#main {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: goldenrod;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 5px;

}

nav a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "Libertinus Serif";
    border-radius: 10px;
}

nav a:hover {
    background-color: #13213a7c;
}

.dropdown {
    position: relative;
    margin-left: 15px;
}


.ddcontent {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #13213a7c;
    border: 2px solid goldenrod;
    border-radius: 8px;
    min-width: 150px;
    z-index: 10000;

}

.ddcontent li a {
    padding: 10px 15px;
    display: block;
    color: white;
}

.ddcontent li a:hover {
    background-color: #5a9bd3;
    border: 2px solid goldenrod;
}

.dropdown:hover .ddcontent {
    display: block;
}

.dropdown:last-child .ddcontent {
    left: auto;
    right: 0;
}

.viking {
    background-image: url("/images/boat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.hero_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    
}

.hero_content {
    position: relative;
    z-index: 2;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Cinzel';
    margin-bottom: 160px;
}
.hero_content h1 {
    columns: #f4c430;
    font: bold;
    font-size: 4rem;
}
.hero_content p {
    max-width: 650px; 
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6; 
    font-size: 1.5rem;
    color: #e0e6ed;
}
.hobbyhead {
    margin-top: 2rem;
    color: #ffffff;
}